version: '3.8'

services:
  db:
    image: postgres:15
    restart: unless-stopped
    env_file:
      - ./.env
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
    command: >
      sh -c "python manage.py migrate --noinput &&
             gunicorn cheeseshop.wsgi:application --bind 0.0.0.0:8000"
    env_file:
      - ./.env
    volumes:
      - ./backend/media:/app/media
    ports:
      - "8000:8000"
    depends_on:
      - db

  bot:
    build:
      context: ./backend
    command: python manage.py runbot
    env_file:
      - ./.env
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
    container_name: cheese_shop-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend


volumes:
  postgres_data:

